*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Python virtual environment
**/venv/
# Firebase credentials
**/serviceAccountKey.json

# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Excel and JSON data files (if you don't want to version them)
**/alimentos.xlsx
**/alimentos.json